header {
  color: rgb(234, 198, 41);
  width: 95vw;
  background-color: rgb(43, 41, 41);
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 5dvb;
  height: 10vh;
  display: flex;
  position: fixed;
  left: 2vw;
  top: 2vh;
}

#myJpeg {
  width: 7vh;
  height: 7vh;
  border-radius: 100%;
  position: absolute;
  left: 5vw;
}

#myJpeg:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
